.metadata
[Oo]bj/
res/
prg/report*.prg
prg/rpreview*.prg
prg/image2pdf.prg

*.tmp
*.log
*.map
*.tds
*.xdt

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini
bin/script/AlbaranesClientes/REDUR.prg

